@mixin backgroundSizeCover {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}

// @mixin btn {
//   display: inline-block;
//   padding: 5px 10px;
//   border-radius: 5px;
//   font-size: 20px;
//   text-decoration: none;
//   color: white;
//   margin: 10px;
// }

@mixin btnFunction($color, $percentage) {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  margin: 10px;
  background-color: $color;
  border: 1px solid darken($color, $percentage);
  &:hover {
    background-color: lighten($color, $percentage);
  }
}
